cached-property==1.5.2
colorama==0.4.4
gnosis-py==2.7.11
packaging>=20.9
prompt_toolkit==3.0.16
pyfiglet==0.8.post1
pygments==2.8.0
requests==2.25.1
tabulate==0.8.9
typing_extensions==3.7.4.3
web3==5.16.0
