cached-property==1.5.2
colorama==0.4.4
gnosis-py==2.7.3
packaging>=20.7
prompt_toolkit==3.0.8
pyfiglet==0.8.post1
pygments==2.7.3
requests==2.25.0
tabulate==0.8.7
typing_extensions==3.7.4.3
web3==5.13.1
