name: Python CI
on: [push, pull_request]

jobs:
  test-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    steps:
    - name: Setup and run ganache
      run: |
        docker run --detach --publish 8545:8545 --network-alias ganache -e DOCKER=true trufflesuite/ganache-cli:latest --defaultBalanceEther 10000 --gasLimit 10000000 -a 30 --noVMErrorsOnRPCResponse -d
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pipenv
      run: |
        python -m pip install --upgrade pipenv wheel
    - uses: actions/cache@v2
      id: cache-pip
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ matrix.python-version }}-${{ hashFiles('requirements-test.txt') }}-${{ hashFiles('requirements.txt') }}
    - name: Install dependencies
      if: steps.cache-pip.outputs.cache-hit != 'true'
      run: |
        pipenv install -r requirements-test.txt
        pipenv install coveralls
      env:
        PIP_USE_MIRRORS: true
    - name: Run tests and coverage
      run: |
        flake8
        pipenv run pytest -rxXs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Required for coveralls
        PIPENV_DONT_LOAD_ENV: 1  # By default pipenv loads .env file
